---
import Layout from "@/layouts/Layout.astro";

import GlobalPageMap from "@/components/maps/GlobalPageMap";
import ArrivalBoard from "@/components/transit/ArrivalBoard.tsx";

import "@/styles/globals.css";
import RouteDetailsFromParam from "@/components/transit/RouteDetailsFromParam.tsx";
---

<Layout title="Routes">
    <div class="h-dvh grid grid-rows-2 overflow-hidden">
        <GlobalPageMap client:only transition:persist transition:name="global-map" />
        <RouteDetailsFromParam client:only />
    </div>
</Layout>
