**/node_modules
.git
.gitattributes
.gitignore
**/.vscode
**/.venv
**/__pycache__
**/logs
**/dist
**/*.md
**/.env
**/.env.*
**/README.md
**/LICENSE
skills-lock.json
clairvoyance.code-workspace
**/.cta.json
**/.nitro
**/.tanstack
**/dev-dist
**/vendor
