services:
  gtfs-static-processor:
    container_name: gtfs-static-processor
    build:
      context: ./services/gtfs-processor
      dockerfile: Dockerfile.static
    environment:
      - MONGO_CONNECTION_STRING=mongodb://mongodb:27017
      - MONGO_DB_NAME=transit
    networks:
      - gtfs-internal
    depends_on:
      mongodb:
        condition: service_healthy

  gtfs-realtime-processor:
    container_name: gtfs-realtime-processor
    build:
      context: ./services/gtfs-processor
      dockerfile: Dockerfile.realtime
    environment:
      - MONGO_CONNECTION_STRING=mongodb://mongodb:27017
      - MONGO_DB_NAME=transit
    networks:
      - gtfs-internal
    depends_on:
      mongodb:
        condition: service_healthy
      gtfs-static-processor:
        condition: service_started

  transit-api:
    container_name: transit-api
    build:
      context: .
      dockerfile: ./services/transit-api/Dockerfile
    environment:
      - MONGO_CONNECTION_STRING=mongodb://mongodb:27017
      - MONGO_DB_NAME=transit
      - PORT=5888
    ports:
      - "5888:5888" # For debugging only
    networks:
      - gtfs-internal
    depends_on:
      mongodb:
        condition: service_healthy

  web-app:
    container_name: web-app
    build:
      context: .
      dockerfile: ./services/web-app/Dockerfile
      args:
        - PUBLIC_GTFS_API_ENDPOINT=http://localhost:8080/api
        - GTFS_API_ENDPOINT=http://gtfs-api:5888
        - SITE=http://localhost:8080
        - BASE=/
    environment:
      - HOST=0.0.0.0
      - PORT=4321
      - SITE=http://bp.botnewish.xyz:8080
      - BASE=/
      - GTFS_API_ENDPOINT=http://gtfs-api:5888
    networks:
      - gtfs-internal
    depends_on:
      - gtfs-api

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017" # For debugging only
    networks:
      - gtfs-internal
    command: >
      bash -c "
        mongod --replSet rs0 --bind_ip_all &
        sleep 5 &&
        mongosh --host localhost --eval '
          try {
            rs.status()
          } catch (e) {
            rs.initiate({
              _id: \"rs0\",
              members: [{ _id: 0, host: \"mongodb:27017\" }]
            })
          }'
        wait
      "
    healthcheck:
      test: |
        mongosh \
          --eval 'db.runCommand("ping").ok' \
          --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 5s

  gateway:
    container_name: gateway
    build:
      context: ./services/gateway
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    networks:
      - gtfs-internal
    depends_on:
      - gtfs-api
      - web-app

networks:
  gtfs-internal:
    driver: bridge
