---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";

import Map from "@/components/transit/Map";
import "leaflet/dist/leaflet.css";
import RouteItem from "@/components/RouteItem.astro";
import NearbyRouteList from "@/components/NearbyRouteList";
---

<Layout title="Clairvoance">
    <main class="min-h-[100dvh]">
        <!-- Map -->
        <Map client:only />

        <!-- Content -->
        <section>
            <RouteItem
                longName="Dockyard"
                shortName="26"
                stopName="Uvic Bus Loop"
                minTillArrival={8}
            />

            <NearbyRouteList client:only />
        </section>
    </main>
</Layout>
