---
import { Button } from "~/components/ui/button.tsx";
import Layout from "../layouts/root-layout.astro";
import CommonHeader from "~/components/headers/common-header.astro";
import MainMap from "~/components/maps/main-map.tsx";
import { DepartureBoard } from "~/components/info/departure-board.tsx";
import { Card, CardContent } from "~/components/ui/card";
// import YourLocationInput from "~/components/maps/your-location-input";
import { ModeToggle } from "~/components/dark-mode-toggle";
---

<Layout>
    <Fragment slot="header">
        <CommonHeader title="Clairvoyance" />
    </Fragment>
    <Fragment slot="body">
        <!-- Full-screen map as background -->
        <div
            class="absolute z-0 inset-0 w-[100dvw] h-[155dvh] -translate-y-[55dvh] sm:translate-y-0 sm:h-[100dvh] overflow-hidden"
        >
            <MainMap client:only="solid-js" />
        </div>

        <!-- Card container with dynamic height -->
        <div class="absolute z-10 inset-x-1 bottom-1 md:inset-x-4 md:top-4 md:max-w-sm lg:max-w-md">
            <Card class="w-full h-[calc(60dvh)] md:h-[calc(100dvh-32px)]">
                <CardContent class="flex flex-col px-3 py-2 h-full">
                    <!-- Input at the top -->
                    <!-- <div class="mt-[-50px] bg-card rounded-lg p-2">
                        <YourLocationInput client:only="solid-js" />
                    </div> -->

                    <!-- Scrollable ArrivalBoard container -->
                    <div class="flex-1 overflow-y-auto h-full">
                        <DepartureBoard client:only="solid-js" />
                    </div>
                </CardContent>
            </Card>
        </div>

        <!-- Top right actions  -->
        <div class="absolute z-10 top-4 right-4">
            <ModeToggle client:only="solid-js" />
        </div>
    </Fragment>
</Layout>
